<!DOCTYPE html>
<head>
<style>
    .your_shopping_bag-box {
            background: #FFFFFF;
            box-shadow: 5px 5px 10px #00000029;
            border: 1px solid #DDDDDD;
            padding: 20px 25px;
            position: relative;
            ;
            right: -150px;
            top: 100%;
            margin-top: 25px;
            width: 100%;
            max-width: 380px;
        }

        .your_shopping_bag-box h3 {
            font-size: 24px;
            font-weight: 700;
            color: #180c34;
            line-height: inherit;
            text-align: center;
            margin-bottom: 22px;
            margin-top: 10px;
        }

        .your_shopping_bag-box ul.shopping_detail {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam {
            display: flex;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #EEEEEE;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam:first-child {
            border-top: 1px solid #EEEEEE;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_iteam--img {
            display: block;
            position: relative;
            max-width: 100px;
            width: 100%;
            height: 100px;
            position: relative;
            overflow: hidden;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 5px;
            border: 1px solid #4f2982;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_iteam--img img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_iteam--col {
            margin-left: -100px;
            width: 100%;
            padding-left: 115px;
            position: relative;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .close_iteam {
            position: absolute;
            right: 10px;
            top: 5px;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .close_iteam a {
            color: #180c34;
            text-decoration: none;
            display: flex;
            transition: all 0.4s ease-in-out;
            line-height: 10px;
            font-size: 20px;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .close_iteam a:hover {
            color: #e56db1;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam h4 {
            font-size: 14px;
            font-weight: 900;
            color: #180c34;
            line-height: inherit;
            margin-bottom: 8px;
            padding-right: 30px;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_value_price {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_value {
            display: flex;
            padding-right: 30px;
            position: relative;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_value:before {
            content: "";
            position: absolute;
            right: 10px;
            top: 50%;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            margin-top: -2px;
            background-color: #B1B1B1;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_value span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            border: 1px solid #DDDDDD;
            font-size: 12px;
            color: #B1B1B1;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_price span {
            display: flex;
            font-size: 14px;
            font-weight: 700;
            color: #180c34;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 25px;
            border-bottom: 1px solid #EEEEEE;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_total .shopping_detail_total--title,
        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_total .shopping_detail_total--price {
            display: flex;
            font-size: 14px;
            font-weight: 900;
            color: #180c34;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_total .shopping_detail_total--price {
            font-weight: 700;
        }

        .your_shopping_bag-box .shopping_detail-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 30px;
        }

        .your_shopping_bag-box .shopping_detail-btns .ui-btn {
            margin-bottom: 15px;
            min-width: 230px;
            padding-left: 20px;
            padding-right: 20px;
            height: 42px;
        }
        .qty-box{display:flex;flex-direction:row;align-items:center;}
        .qty-box .qty-label{font-size:20px;line-height:28px;font-weight:700;letter-spacing:0.25px;color:#333333;margin-right:10px;}
        .detail-qty{display:flex;align-items:center;}
        .detail-qty a{width:23px;height:19px;color:#ffffff;background-color:#333333;border-radius:15px;line-height:23px;text-align:center;text-decoration:none;display:flex;align-items:center;justify-content:center;font-size:34px;font-family:cursive;padding-bottom:5px;}
        .detail-qty .qty-val{width:50px;height:30px;text-align:center;border:1px solid #333333;border-radius:0;margin:0 8px;}
</style>
</head>
<body>
    <div id="your_shopping_bag" class="your_shopping_bag-box">
        <h3>Your shopping bag</h3>
        <ul class="shopping_detail">
            <%for(var i=0; i<show_cart.length; i++) { var total=0 %>
            <li class="shopping_detail_iteam">
                <div class="shopping_detail_iteam--img">
                    <img src="/uploads/<%=show_cart[i].product.image%>" >
                </div>
                <div class="shopping_detail_iteam--col">
                    <div class="shopping_detail_title">
                        <h4><%=show_cart[i].product.name%></h4>
                    </div>
                    <div class="shopping_detail_value_price">
                        <div class="shopping_detail_value">
                           
                            <div class="qty-box">
                               
                                <div class="detail-qty info-qty">
                                  <a href="/carts/minus-item?id=<%=show_cart[i].id %>" class="qty-down">&#8722;</a>
                                  <input
                                    type="text"
                                    data-step="1"
                                    data-min="1"
                                    data-max="10"
                                    name="quantity"
                                    value="<%=show_cart[i].number_of_items%>"
                                    title="Qty"
                                    class="qty-val"
                                    size="4"
                                  >
                                  <a href="/carts/plus-item?id=<%=show_cart[i].id %>" class="qty-up">&#43;</a>
                                </div>
                              </div>
                        </div>
                        <div class="shopping_detail_price">
                            <span><%=show_cart[i].product.price%></span>
                        </div>
                    </div>
                    <div class="close_iteam">
                        <a href="/carts/delete-item?id=<%=show_cart[i].id %>">&#215;</a>
                    </div>
                </div>
            </li>
            
            <% total+=show_cart[i].product.price }  console.log(total) %>


           
            <li class="shopping_detail_total">
                <div class="shopping_detail_total--title">
                    TOTAL
                </div>
                <div class="shopping_detail_total--price">
                    <%= total %>
                </div>
            </li>

        </ul>
        <div class="shopping_detail-btns">
            <button type="submit" name="add-to-cart" value="1122" class="ui-btn">Buy Now</button>
        </div>
    </div>
</body>
</html>