<!DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title></title>
    
    <style>
      html{
        scroll-behavior: smooth;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      .b25{
        background: #252525;
      }
      .b1{
        background: #1b1b1b;
      }
      .outlineNone{
        outline: none !important;
        border:none;
        
      }
      .a:hover img{
        transition: 0.3s ease-in-out;
          transform: scale(1.05,1.05);
          border: 1px solid #1b1b1b !important;
      }
      .aBord-none:hover img{
        transition: 0.3s ease-in-out;
          transform: scale(1.05,1.05);
         
      }
      .gotopbtn{
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 4.5%;
        right: 5%;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        z-index: 15
      }
        .product__listing__section {
            padding: 30px 0 60px;
        }

        .product__listing__section .row {
            display: flex;
            align-items: flex-start;
        }

        .product__list__col {
            width: 20%;
        }

        .product__box__col {
            width: 80%;
        }

        .product__list__categories,
        .product_listing_box {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 10px;
            border: 1px solid #dddddd;
            width: 1250px;
        }

        .product__list__categories .categories_list-title,
        .product_listing_box .categories_box-title {
            padding: 20px 20px 0px;
            width: 1200px;
        }

        .product__list__categories .categories_list-title h6,
        .product_listing_box .categories_box-title h6 {
            font-size: 18px;
            line-height: 34px;
            font-weight: 700;
            letter-spacing: 0.45px;
            color: #280f43;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 5px;
        }

        .product__list__categories .categories_list {
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
        }

        .product__list__categories .categories_list:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 1px solid #707070;
            background-color: #4f2982;
            opacity: 0.05;
        }

        .product__list__categories .categories_list {
            margin: 0;
            padding: 0;
        }

        .product__list__categories .categories_list li a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            text-decoration: none;
            font-size: 20px;
            line-height: 38px;
            font-weight: 600;
            letter-spacing: 0.5px;
            color: #333333;
            transition: all 0.4s ease-in-out;
            padding: 5px 20px;
            position: relative;
        }

        .product__list__categories .categories_list li a span:last-child {
            font-size: 16px;
            line-height: 38px;
            font-weight: 400;
            letter-spacing: 0.4px;
        }

        .product__list__categories .categories_list li a:hover,
        .product__list__categories .categories_list li a.selected {
            color: #362280;
        }

        .product_listing_box .product_listing_row {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            justify-content: space-between;
        }

        .product_listing_box .product_listing_col {
            width: 80%;
            /* max-width: 33.33%; */
            padding: 0 30px;
        }

        .product_listing_box .product_listing_img {
            display: block;
            position: relative;
            max-width: 100%;
            width: 100%;
            height: auto;
            padding-top: 75%;
            position: relative;
            overflow: hidden;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 10px;
            margin-bottom: 15px;
        }

        .product_listing_box .product_listing_img a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.4s ease-in-out;
        }

        .product_listing_box .product_listing_img a:hover {
            transform: scale(1.2);
        }

        .product_listing_box .product_listing_img img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .product_listing_box .product-value {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 25px;
            min-height: 76px;
            align-items: flex-end;
        }

        .product_listing_box .product-value .product-value-box {
            display: flex;
            justify-content: center;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.89px;
            color: #ffffff;
            width: auto;
            min-width: 85px;
            padding: 4px 8px;
            border-radius: 3px;
        }

        .product_listing_box .product-value .product-value-box.value-special {
            background-color: #552e91;
        }

        .product_listing_box .product-value .product-value-box.value-new {
            background-color: #e56db1;
        }

        .product_listing_box .product-value .product-value-box.value-coming-soon {
            background-color: transparent;
            border-radius: 0;
            background-image: url(../images/coming-soon.png);
            width: 61px;
            height: 76px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .product_listing_box .product_listing_content {
            text-align: center;
            padding-bottom: 5px;
            margin-bottom: 25px;
            border-bottom: 1px solid #dddddd;
        }

        .product_listing_box .product_listing_content h3,
        .product_listing_box .product_listing_content h3 a {
            font-size: 24px;
            line-height: 55px;
            font-weight: 700;
            letter-spacing: 1.2px;
            color: #333333;
            text-decoration: none;
            transition: all 0.4s ease-in-out;
            font-family: var(--BalboaFont);
        }

        .product_listing_box .product_listing_content h3 a:hover {
            color: #362280;
        }

        .product_listing_box .product_listing_info p {
            font-size: 18px;
            line-height: 26px;
            font-weight: 300;
            letter-spacing: 0.9px;
            color: #333333;
            text-decoration: none;
            transition: all 0.4s ease-in-out;
            font-family: var(--BalboaFont);
        }

        .product_listing_box .product_listing_price {
            font-size: 18px;
            line-height: 26px;
            font-weight: 300;
            letter-spacing: 0.9px;
            color: #333333;
            text-decoration: none;
            transition: all 0.4s ease-in-out;
            font-family: var(--BalboaFont);
        }

        .product_listing_box .product_listing_btn {
            text-align: center;
            margin-bottom: 30px;
        }

        .ingredient-section-full-container {
            padding-bottom: 30px;
        }

        .ingredient-section-full-container .container {
            max-width: 100%;
        }

        .ingredient-section-full-container .ingredient__box .ingredient__img {
            padding-right: 15px;
        }

        .ingredient-section-full-container .ingredient__box .ingredient__img .ingredient__img--inner {
            border-radius: 0;
            box-shadow: 0px 3px 6px #00000029;
        }

        .ingredient-section-full-container .buy-btn a {
            margin-top: 25px;
        }

        .ingredient-section-full-container .noun_meat_icon {
            width: 60px;
            height: 40px;
            background-image: url(../images/icon_noun_meat.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            margin-left: 5px;
        }

        .ingredient-section-full-container .ingredient__contain h3 {
            font-size: 45px;
            line-height: 52px;
            letter-spacing: -1.07px;
            font-weight: 700;
            display: flex;
            align-items: center;
        }

        .ingredient-section-full-container .ingredient__contain h3 span {
            font-size: 30px;
            letter-spacing: -0.71px;
            margin-left: 5px;
        }

        .your_shopping_bag-box {
            background: #FFFFFF;
            box-shadow: 5px 5px 10px #00000029;
            border: 1px solid #DDDDDD;
            padding: 20px 25px;
            position: relative;
            ;
            right: -150px;
            top: 100%;
            margin-top: 25px;
            width: 100%;
            max-width: 380px;
        }

        .your_shopping_bag-box h3 {
            font-size: 24px;
            font-weight: 700;
            color: #180c34;
            line-height: inherit;
            text-align: center;
            margin-bottom: 22px;
            margin-top: 10px;
        }

        .your_shopping_bag-box ul.shopping_detail {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam {
            display: flex;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #EEEEEE;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam:first-child {
            border-top: 1px solid #EEEEEE;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_iteam--img {
            display: block;
            position: relative;
            max-width: 100px;
            width: 100%;
            height: 100px;
            position: relative;
            overflow: hidden;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 5px;
            border: 1px solid #4f2982;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_iteam--img img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_iteam--col {
            margin-left: -100px;
            width: 100%;
            padding-left: 115px;
            position: relative;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .close_iteam {
            position: absolute;
            right: 10px;
            top: 5px;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .close_iteam a {
            color: #180c34;
            text-decoration: none;
            display: flex;
            transition: all 0.4s ease-in-out;
            line-height: 10px;
            font-size: 20px;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .close_iteam a:hover {
            color: #e56db1;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam h4 {
            font-size: 14px;
            font-weight: 900;
            color: #180c34;
            line-height: inherit;
            margin-bottom: 8px;
            padding-right: 30px;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_value_price {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_value {
            display: flex;
            padding-right: 30px;
            position: relative;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_value:before {
            content: "";
            position: absolute;
            right: 10px;
            top: 50%;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            margin-top: -2px;
            background-color: #B1B1B1;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_value span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            border: 1px solid #DDDDDD;
            font-size: 12px;
            color: #B1B1B1;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_iteam .shopping_detail_price span {
            display: flex;
            font-size: 14px;
            font-weight: 700;
            color: #180c34;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 25px;
            border-bottom: 1px solid #EEEEEE;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_total .shopping_detail_total--title,
        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_total .shopping_detail_total--price {
            display: flex;
            font-size: 14px;
            font-weight: 900;
            color: #180c34;
        }

        .your_shopping_bag-box ul.shopping_detail li.shopping_detail_total .shopping_detail_total--price {
            font-weight: 700;
        }

        .your_shopping_bag-box .shopping_detail-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 30px;
        }

        .your_shopping_bag-box .shopping_detail-btns .ui-btn {
            margin-bottom: 15px;
            min-width: 230px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.search {
        position: relative;
        width: 400px;
        margin: 0 10px;
      }

      .search label {
        position: relative;
        width: 100%;
      }

      .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        
      }

      .search label ion-icon {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 1.2rem;
      }
      .text-light {
    color: black;
}

    </style>
</head>

<body>
    <div class="container">
        <div class="navbar">
          <div class="logo">
            <a href="index.html"><img src="https://i.ibb.co/kDVwgwp/logo.png" alt="RedStore" width="125px" /></a>
          </div>
          <div>
            <div class="search">
                <label>
                  <input type="text" placeholder="Search here" class="search" id="search" onkeyup="searching()"/>
                  <ion-icon name="search-outline"></ion-icon>
                </label>
              </div>
          </div>
          <nav>
            <ul id="MenuItems">
                <li class="nav-item dropdown text-center mx-0 mx-lg-3">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      category
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <%for(var i =0;i<category.length;i++){%>
                      <div class="dropdown-item"id='<%=category[i].name%>' onclick="product('<%=category[i].name%>')"><%=category[i].name%></div>
                      
                      <%}%>
                    </div>
                  </li>
              <li><a href="/user-dashboard/product">Products</a></li>
              <li><a href="/user-dashboard/order-list">Orders</a></li>
              <li><a href="/auth/sign-out">Sign Out</a></li>

            </ul>
          </nav>
          <a href="/carts/user-cart"><img src="https://i.ibb.co/PNjjx3y/cart.png" alt="" width="30px" height="30px" /></a>
        </div>
      </div>
    
    <div class="product__box__col">
        <div class="product_listing_box">
            <div class="categories_box-title">
                <h6>Products</h6>
            </div>
            <div class="product_listing_row" id="change">

                <% for(var i=0; i <product.length; i++) { %>
                    <div class="product_listing_col">
                        <div class="product_listing_img">                    
                            <a href="">
                                
                                <img src="/uploads/<%=product[i].image%>" alt=""> </a>
                           
                        </div>
                        <div class="product_listing_content">
                            <h3><a href="">
                                    <%=product[i].name%>
                                </a></h3>
                            <div class="product_listing_info">
                                <p>
                                    <%=product[i].description%>
                                </p>
                            </div>
                            <div class="product_listing_price">
                                <%=product[i].price%>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="<%=product[i].id%>" hidden>
                        <div class="product_listing_btn" onclick="addToCart('<%=product[i].id%>')">
                            ADD TO CART
                        </div>
                    </div>
                    <%} %>

            </div>
        </div>
    </div>
    <script>



function product(category) {
  console.log(category);
  var set = '';

  axios.post(`/user-dashboard/category-page?category=${category}`).then(function (response) {
    console.log(response.data.product.length);
    const len=response.data.product.length;
    for(var i=0;i<len;i++){
  set+=`<div class="product_listing_col"> <div class="product_listing_img"> <a href=""> <img src="/uploads/${response.data.product[i].image}" alt=""> </a> </div> <div class="product_listing_content"> <h3><a href=""> ${response.data.product[i].name} </a></h3> <div class="product_listing_info"> <p> ${response.data.product[i].description} </p> </div> <div class="product_listing_price"> ${response.data.product[i].price} </div> </div> <input type="hidden" name="id" value="${response.data.product[i].id}" hidden> <div class="product_listing_btn" onclick="addToCart('${response.data.product[i].id}')"> ADD TO CART </div> </div>`
}
  console.log(set);
  document.getElementById("change").innerHTML=set;
  })

}

async function searching(){

var val= document.getElementById("search").value
console.log(val);
var set = '';
await axios.get(`/admin/products/search-product?data=${val}`).then(function (response) { 
 console.log("datt ===",response.data);


 for(var i=0;i<response.data.length;i++){
  set+=`<div class="product_listing_col"> <div class="product_listing_img"> <a href=""> <img src="/uploads/${response.data[i].image}" alt=""> </a> </div> <div class="product_listing_content"> <h3><a href=""> ${response.data[i].name} </a></h3> <div class="product_listing_info"> <p> ${response.data[i].description} </p> </div> <div class="product_listing_price"> ${response.data[i].price} </div> </div> <input type="hidden" name="id" value="${response.data[i].id}" hidden> <div class="product_listing_btn" onclick="addToCart('${response.data[i].id}')"> ADD TO CART </div> </div>`
}
  console.log(set);
  document.getElementById("change").innerHTML=set;
});

}

        async function addToCart(id){
            // alert("cart");
            
            await fetch(`/carts/cart?id=${id}`,{
                method:'POST'
            })
            // const bag=document.getElementById('your_shopping_bag').style.display="block"
            console.log(id);

            

        }

// document.getElementById("add-to-cart").addEventListener("click", function(event){

//   event.preventDefault();
//   alert("hrllo")
//   const bag=document.getElementsByClassName('your_shopping_bag-box').is(":visible");

//   console.log(bag)

// });
    </script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(window).on("load",function(){
     $(".loader-wrapper").fadeOut("slow");
});
      //  by Ruben Vardanyan 
      //scroll Top 
      //Get the button
     
      // When the user scrolls down 20px from the top of the document, show the button
    //   window.onscroll = function() {scrollFunction()};

    //   function scrollFunction() {
    //     if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
    //       mybutton.style.display = "block";
    //     } else {
    //       mybutton.style.display = "none";
    //     }
    //   }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>